### data1

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed

import numpy as np # linear algebra

import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:

df1 = pd.read_excel('data.xlsx', header=2)

data=df1.values

print("all value we get:\n{}".format(data))

all value we get:
[['Albury - Adult AMHS' 'Apr - Jun 2020' 2330.6]
 ['Albury - Adult AMHS' 'Jul - Sep 2020' 3606.92]
 ['Albury - Adult AMHS' 'Oct - Dec 2020' 3004.98]
 ['Albury - Adult AMHS' 'Jan - Mar 2021' 3053.93]
 ['Albury - Aged AMHS' 'Apr - Jun 2020' 548.33]
 ['Albury - Aged AMHS' 'Jul - Sep 2020' 734.92]
 ['Albury - Aged AMHS' 'Oct - Dec 2020' 792.58]
 ['Albury - Aged AMHS' 'Jan - Mar 2021' 802.9]
 ['Albury - CAMHS AMHS' 'Apr - Jun 2020' 358.47]
 ['Albury - CAMHS AMHS' 'Jul - Sep 2020' 543.2]
 ['Albury - CAMHS AMHS' 'Oct - Dec 2020' 688.93]
 ['Albury - CAMHS AMHS' 'Jan - Mar 2021' 663.42]
 ['Barwon - AMHS' 'Apr - Jun 2020' 14673.4]
 ['Barwon - AMHS' 'Jul - Sep 2020' 19131.29]
 ['Barwon - AMHS' 'Oct - Dec 2020' 15927.4]
 ['Barwon - AMHS' 'Jan - Mar 2021' 10109.34]
 ['Barwon - AMHS' 'Apr - Jun 2021' 9663.38]
 ['Central & Outer East - Aged AMHS' 'Apr - Jun 2020' 3162.65]
 ['Central & Outer East - Aged AMHS' 'Jul - Sep 2020' 2775.54]
 ['Central & Outer East - Aged AMHS' 'Oct - Dec 2020' 1940.59]
 ['Central & Outer East - Aged AMHS' 'Jan - Mar 2021' 1039.56]
 ['Central & Outer East - Aged AMHS' 'Apr - Jun 2021' 1066.6]
 ['Central East - Adult AMHS' 'Apr - Jun 2020' 10652.07]
 ['Central East - Adult AMHS' 'Jul - Sep 2020' 11593.78]
 ['Central East - Adult AMHS' 'Oct - Dec 2020' 10615.36]
 ['Central East - Adult AMHS' 'Jan - Mar 2021' 9508.55]
 ['Central East - Adult AMHS' 'Apr - Jun 2021' 8959.66]
 ['Dandenong - Adult AMHS' 'Apr - Jun 2020' 24284.87]
 ['Dandenong - Adult AMHS' 'Jul - Sep 2020' 26824.07]
 ['Dandenong - Adult AMHS' 'Oct - Dec 2020' 25532.85]
 ['Dandenong - Adult AMHS' 'Jan - Mar 2021' 23960.97]
 ['Dandenong - Adult AMHS' 'Apr - Jun 2021' 25009.3]
 ['Eastern - CAMHS AMHS' 'Apr - Jun 2020' 10861.48]
 ['Eastern - CAMHS AMHS' 'Jul - Sep 2020' 11080.03]
 ['Eastern - CAMHS AMHS' 'Oct - Dec 2020' 9411.02]
 ['Eastern - CAMHS AMHS' 'Jan - Mar 2021' 8676.98]
 ['Eastern - CAMHS AMHS' 'Apr - Jun 2021' 9451.09]
 ['Gippsland - AMHS' 'Apr - Jun 2020' 16105.94]
 ['Gippsland - AMHS' 'Jul - Sep 2020' 17270.05]
 ['Gippsland - AMHS' 'Oct - Dec 2020' 14934.16]
 ['Gippsland - AMHS' 'Jan - Mar 2021' 10687.84]
 ['Gippsland - AMHS' 'Apr - Jun 2021' 11156.25]
 ['Glenelg - AMHS' 'Apr - Jun 2020' 8990.71]
 ['Glenelg - AMHS' 'Jul - Sep 2020' 9405.49]
 ['Glenelg - AMHS' 'Oct - Dec 2020' 8440.56]
 ['Glenelg - AMHS' 'Jan - Mar 2021' 7516.57]
 ['Glenelg - AMHS' 'Apr - Jun 2021' 8038.4]
 ['Goulburn - AMHS' 'Apr - Jun 2020' 11214.77]
 ['Goulburn - AMHS' 'Jul - Sep 2020' 11191.09]
 ['Goulburn - AMHS' 'Oct - Dec 2020' 7318.69]
 ['Goulburn - AMHS' 'Jan - Mar 2021' 4023.72]
 ['Goulburn - AMHS' 'Apr - Jun 2021' 3201.04]
 ['Grampians - AMHS' 'Apr - Jun 2020' 13565.8]
 ['Grampians - AMHS' 'Jul - Sep 2020' 15475.79]
 ['Grampians - AMHS' 'Oct - Dec 2020' 13460.91]
 ['Grampians - AMHS' 'Jan - Mar 2021' 10364.58]
 ['Grampians - AMHS' 'Apr - Jun 2021' 8127.53]
 ['Inner & North West - Aged AMHS' 'Apr - Jun 2020' 2133.46]
 ['Inner & North West - Aged AMHS' 'Jul - Sep 2020' 2143.23]
 ['Inner & North West - Aged AMHS' 'Oct - Dec 2020' 1436.38]
 ['Inner & North West - Aged AMHS' 'Jan - Mar 2021' 983.7]
 ['Inner & North West - Aged AMHS' 'Apr - Jun 2021' 779.45]
 ['Inner South East - Adult AMHS' 'Apr - Jun 2020' 15430.23]
 ['Inner South East - Adult AMHS' 'Jul - Sep 2020' 16835.14]
 ['Inner South East - Adult AMHS' 'Oct - Dec 2020' 15724.24]
 ['Inner South East - Adult AMHS' 'Jan - Mar 2021' 13603.33]
 ['Inner South East - Adult AMHS' 'Apr - Jun 2021' 13942.92]
 ['Inner South East - Aged AMHS' 'Apr - Jun 2020' 1293.61]
 ['Inner South East - Aged AMHS' 'Jul - Sep 2020' 1366.45]
 ['Inner South East - Aged AMHS' 'Oct - Dec 2020' 1395.83]
 ['Inner South East - Aged AMHS' 'Jan - Mar 2021' 1357.96]
 ['Inner South East - Aged AMHS' 'Apr - Jun 2021' 1491.62]
 ['Inner Urban East - Adult AMHS' 'Apr - Jun 2020' 14223.14]
 ['Inner Urban East - Adult AMHS' 'Jul - Sep 2020' 16089.76]
 ['Inner Urban East - Adult AMHS' 'Oct - Dec 2020' 13202.75]
 ['Inner Urban East - Adult AMHS' 'Jan - Mar 2021' 9614.94]
 ['Inner Urban East - Adult AMHS' 'Apr - Jun 2021' 8676.4]
 ['Inner Urban East - Aged AMHS' 'Apr - Jun 2020' 2021.86]
 ['Inner Urban East - Aged AMHS' 'Jul - Sep 2020' 2135.04]
 ['Inner Urban East - Aged AMHS' 'Oct - Dec 2020' 1870.45]
 ['Inner Urban East - Aged AMHS' 'Jan - Mar 2021' 1378.68]
 ['Inner Urban East - Aged AMHS' 'Apr - Jun 2021' 1267.13]
 ['Inner West - Adult AMHS' 'Apr - Jun 2020' 16127.65]
 ['Inner West - Adult AMHS' 'Jul - Sep 2020' 16970.28]
 ['Inner West - Adult AMHS' 'Oct - Dec 2020' 13985.51]
 ['Inner West - Adult AMHS' 'Jan - Mar 2021' 10752.72]
 ['Inner West - Adult AMHS' 'Apr - Jun 2021' 11180.72]
 ['Loddon - AMHS' 'Apr - Jun 2020' 19088.78]
 ['Loddon - AMHS' 'Jul - Sep 2020' 21021.56]
 ['Loddon - AMHS' 'Oct - Dec 2020' 15521.84]
 ['Loddon - AMHS' 'Jan - Mar 2021' 7851.52]
 ['Loddon - AMHS' 'Apr - Jun 2021' 5587.16]
 ['Mid & South West - Aged AMHS' 'Apr - Jun 2020' 1872.73]
 ['Mid & South West - Aged AMHS' 'Jul - Sep 2020' 2099.88]
 ['Mid & South West - Aged AMHS' 'Oct - Dec 2020' 1973.72]
 ['Mid & South West - Aged AMHS' 'Jan - Mar 2021' 1631.93]
 ['Mid & South West - Aged AMHS' 'Apr - Jun 2021' 1634.14]
 ['Mid West - Adult AMHS' 'Apr - Jun 2020' 10358.79]
 ['Mid West - Adult AMHS' 'Jul - Sep 2020' 10401.56]
 ['Mid West - Adult AMHS' 'Oct - Dec 2020' 6802.17]
 ['Mid West - Adult AMHS' 'Jan - Mar 2021' 3112.02]
 ['Mid West - Adult AMHS' 'Apr - Jun 2021' 2180.4]
 ['Middle South - Adult AMHS' 'Apr - Jun 2020' 8974.98]
 ['Middle South - Adult AMHS' 'Jul - Sep 2020' 9493.86]
 ['Middle South - Adult AMHS' 'Oct - Dec 2020' 9953.71]
 ['Middle South - Adult AMHS' 'Jan - Mar 2021' 9063.83]
 ['Middle South - Adult AMHS' 'Apr - Jun 2021' 9387.48]
 ['Middle South - Aged AMHS' 'Apr - Jun 2020' 5887.27]
 ['Middle South - Aged AMHS' 'Jul - Sep 2020' 6119.55]
 ['Middle South - Aged AMHS' 'Oct - Dec 2020' 5820.82]
 ['Middle South - Aged AMHS' 'Jan - Mar 2021' 5610.93]
 ['Middle South - Aged AMHS' 'Apr - Jun 2021' 5546.39]
 ['North East - Adult AMHS' 'Apr - Jun 2020' 7219.83]
 ['North East - Adult AMHS' 'Jul - Sep 2020' 8197.89]
 ['North East - Adult AMHS' 'Oct - Dec 2020' 8126.12]
 ['North East - Adult AMHS' 'Jan - Mar 2021' 5658.01]
 ['North East - Adult AMHS' 'Apr - Jun 2021' 6073.9]
 ['North East and Border AMHS' 'Apr - Jun 2020' 8122.03]
 ['North East and Border AMHS' 'Jul - Sep 2020' 10366.72]
 ['North East and Border AMHS' 'Oct - Dec 2020' 9637.22]
 ['North East and Border AMHS' 'Jan - Mar 2021' 9237.78]
 ['North East and Border AMHS' 'Apr - Jun 2021' 8876.79]
 ['North Eastern - CAMHS AMHS' 'Apr - Jun 2020' 4881.77]
 ['North Eastern - CAMHS AMHS' 'Jul - Sep 2020' 5293.75]
 ['North Eastern - CAMHS AMHS' 'Oct - Dec 2020' 5156.25]
 ['North Eastern - CAMHS AMHS' 'Jan - Mar 2021' 4780.69]
 ['North Eastern - CAMHS AMHS' 'Apr - Jun 2021' 4571.92]
 ['North West - Adult AMHS' 'Apr - Jun 2020' 10832.84]
 ['North West - Adult AMHS' 'Jul - Sep 2020' 12509.35]
 ['North West - Adult AMHS' 'Oct - Dec 2020' 11234.59]
 ['North West - Adult AMHS' 'Jan - Mar 2021' 9574.02]
 ['North West - Adult AMHS' 'Apr - Jun 2021' 9618.54]
 ['North Western - CAMHS AMHS' 'Apr - Jun 2020' 7684.72]
 ['North Western - CAMHS AMHS' 'Jul - Sep 2020' 9112.54]
 ['North Western - CAMHS AMHS' 'Oct - Dec 2020' 8862.34]
 ['North Western - CAMHS AMHS' 'Jan - Mar 2021' 8357.44]
 ['North Western - CAMHS AMHS' 'Apr - Jun 2021' 9409.39]
 ['Northern - Adult AMHS' 'Apr - Jun 2020' 17581.47]
 ['Northern - Adult AMHS' 'Jul - Sep 2020' 19037.96]
 ['Northern - Adult AMHS' 'Oct - Dec 2020' 15664.62]
 ['Northern - Adult AMHS' 'Jan - Mar 2021' 9455.03]
 ['Northern - Adult AMHS' 'Apr - Jun 2021' 7680.3]
 ['Northern & North East - Aged AMHS' 'Apr - Jun 2020' 2001.78]
 ['Northern & North East - Aged AMHS' 'Jul - Sep 2020' 1946.78]
 ['Northern & North East - Aged AMHS' 'Oct - Dec 2020' 1634.45]
 ['Northern & North East - Aged AMHS' 'Jan - Mar 2021' 1056.38]
 ['Northern & North East - Aged AMHS' 'Apr - Jun 2021' 995.18]
 ['Northern Mallee - AMHS' 'Apr - Jun 2020' 6973.14]
 ['Northern Mallee - AMHS' 'Jul - Sep 2020' 7163.22]
 ['Northern Mallee - AMHS' 'Oct - Dec 2020' 7203.4]
 ['Northern Mallee - AMHS' 'Jan - Mar 2021' 7048.3]
 ['Northern Mallee - AMHS' 'Apr - Jun 2021' 6117.39]
 ['Orygen Youth Area Mental Health Service' 'Apr - Jun 2020' 12513.01]
 ['Orygen Youth Area Mental Health Service' 'Jul - Sep 2020' 12278.95]
 ['Orygen Youth Area Mental Health Service' 'Oct - Dec 2020' 9950.68]
 ['Orygen Youth Area Mental Health Service' 'Jan - Mar 2021' 8558.5]
 ['Orygen Youth Area Mental Health Service' 'Apr - Jun 2021' 9332.12]
 ['Outer East - Adult AMHS' 'Apr - Jun 2020' 20664.63]
 ['Outer East - Adult AMHS' 'Jul - Sep 2020' 22145.22]
 ['Outer East - Adult AMHS' 'Oct - Dec 2020' 18820.45]
 ['Outer East - Adult AMHS' 'Jan - Mar 2021' 13371.64]
 ['Outer East - Adult AMHS' 'Apr - Jun 2021' 13095.83]
 ['Peninsula - Adult AMHS' 'Apr - Jun 2020' 9451.64]
 ['Peninsula - Adult AMHS' 'Jul - Sep 2020' 10024.26]
 ['Peninsula - Adult AMHS' 'Oct - Dec 2020' 10681.29]
 ['Peninsula - Adult AMHS' 'Jan - Mar 2021' 10084.08]
 ['Peninsula - Adult AMHS' 'Apr - Jun 2021' 9623.56]
 ['Peninsula - Aged AMHS' 'Apr - Jun 2020' 1951.65]
 ['Peninsula - Aged AMHS' 'Jul - Sep 2020' 2012.1]
 ['Peninsula - Aged AMHS' 'Oct - Dec 2020' 2293.38]
 ['Peninsula - Aged AMHS' 'Jan - Mar 2021' 2318.45]
 ['Peninsula - Aged AMHS' 'Apr - Jun 2021' 2378.6]
 ['South Eastern - CAMHS AMHS' 'Apr - Jun 2020' 11821.3]
 ['South Eastern - CAMHS AMHS' 'Jul - Sep 2020' 14167.0]
 ['South Eastern - CAMHS AMHS' 'Oct - Dec 2020' 12793.61]
 ['South Eastern - CAMHS AMHS' 'Jan - Mar 2021' 11218.18]
 ['South Eastern - CAMHS AMHS' 'Apr - Jun 2021' 13252.15]
 ['South West - Adult AMHS' 'Apr - Jun 2020' 20436.07]
 ['South West - Adult AMHS' 'Jul - Sep 2020' 19082.38]
 ['South West - Adult AMHS' 'Oct - Dec 2020' 14972.44]
 ['South West - Adult AMHS' 'Jan - Mar 2021' 10880.52]
 ['South West - Adult AMHS' 'Apr - Jun 2021' 8437.6]
 ['Statewide' 'Apr - Jun 2020' 366950.14]
 ['Statewide' 'Jul - Sep 2020' 394248.76]
 ['Statewide' 'Oct - Dec 2020' 342787.3]
 ['Statewide' 'Jan - Mar 2021' 272103.44]
 ['Statewide' 'Apr - Jun 2021' 266772.75]]

In [3]:
# Check and delete null values
df1 = df1.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [4]:
df1.columns = ["Organisation Description","Calendar Quarter Name","Table Value"]

In [5]:
df2 = df1

In [6]:
df2['A'], df2['B'], df2['c'] , df2['d'] = df2['Calendar Quarter Name'].str.split(r"\s+",n =3).str

<ipython-input-6-3c262500af82>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df2['A'], df2['B'], df2['c'] , df2['d'] = df2['Calendar Quarter Name'].str.split(r"\s+",n =3).str

In [7]:
df1 = df2.drop(columns = ["B"])

In [8]:
df1.rename(columns ={"A":"Calendar quarter first month name","c":"Calendar quarter last month name","d":"year"},inplace = True)

In [9]:
df1

,Organisation Description,Calendar Quarter Name,Table Value,Calendar quarter first month name,Calendar quarter last month name,year
0,Albury - Adult AMHS,Apr - Jun 2020,2330.60,Apr,Jun,2020
1,Albury - Adult AMHS,Jul - Sep 2020,3606.92,Jul,Sep,2020
2,Albury - Adult AMHS,Oct - Dec 2020,3004.98,Oct,Dec,2020
3,Albury - Adult AMHS,Jan - Mar 2021,3053.93,Jan,Mar,2021
4,Albury - Aged AMHS,Apr - Jun 2020,548.33,Apr,Jun,2020
...,...,...,...,...,...,...
182,Statewide,Apr - Jun 2020,366950.14,Apr,Jun,2020
183,Statewide,Jul - Sep 2020,394248.76,Jul,Sep,2020
184,Statewide,Oct - Dec 2020,342787.30,Oct,Dec,2020
185,Statewide,Jan - Mar 2021,272103.44,Jan,Mar,2021
186,Statewide,Apr - Jun 2021,266772.75,Apr,Jun,2021

In [10]:
df1.insert(1,"quarter",df1["Calendar quarter first month name"])

In [11]:
for i in range(len(df1.quarter)):
    if df1.quarter.loc[i] == 'Jan':
        df1.quarter.loc[i] = 1
    elif df1.quarter.loc[i] == 'Apr':
        df1.quarter.loc[i] = 2
    elif df1.quarter.loc[i] == "Jul":
        df1.quarter.loc[i] = 3
    elif df1.quarter.loc[i] == "Oct":
        df1.quarter.loc[i] = 4

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [12]:
df1

,Organisation Description,quarter,Calendar Quarter Name,Table Value,Calendar quarter first month name,Calendar quarter last month name,year
0,Albury - Adult AMHS,2,Apr - Jun 2020,2330.60,Apr,Jun,2020
1,Albury - Adult AMHS,3,Jul - Sep 2020,3606.92,Jul,Sep,2020
2,Albury - Adult AMHS,4,Oct - Dec 2020,3004.98,Oct,Dec,2020
3,Albury - Adult AMHS,1,Jan - Mar 2021,3053.93,Jan,Mar,2021
4,Albury - Aged AMHS,2,Apr - Jun 2020,548.33,Apr,Jun,2020
...,...,...,...,...,...,...,...
182,Statewide,2,Apr - Jun 2020,366950.14,Apr,Jun,2020
183,Statewide,3,Jul - Sep 2020,394248.76,Jul,Sep,2020
184,Statewide,4,Oct - Dec 2020,342787.30,Oct,Dec,2020
185,Statewide,1,Jan - Mar 2021,272103.44,Jan,Mar,2021
186,Statewide,2,Apr - Jun 2021,266772.75,Apr,Jun,2021

In [13]:
df1.to_csv('data2.csv')